In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "/Users/uzu rinto/study/python/practice/Youtuber/"
df = pd.read_csv(path + 'youtuber_data.csv')

In [3]:
df

,pop_score,register_num,human_num,gender_rate,douga_num,frequency,saisei_max,saisei_sum,saisei_1m_ave,period,area,sub,register_sub,hyaku_achievedate
0,9741,4860000,1,100,2164,6,49080000,4412582560,9.450940e+05,2450,0,1,828000,2016
1,8886,10900000,1,100,3238,3,130000000,10271087284,2.248677e+06,4154,0,1,5690000,2014
2,7561,3810000,5,100,1471,10,16870000,2790151387,2.877135e+06,1521,0,1,520000,2021
3,7207,6720000,6,100,2577,7,33310000,11510347135,5.322029e+06,3337,1,1,2930000,2016
4,6887,10300000,1,100,2661,5,120000000,9273331411,1.536762e+06,3745,2,1,2830000,2015
5,6768,4660000,2,100,1950,6,29590000,3516979539,1.897371e+06,2333,0,1,1360000,2017
6,6633,3250000,2,0,521,1,12010000,1013966783,1.285278e+06,995,0,1,459000,2021
7,6605,1830000,3,0,1127,35,7280000,778857229,8.342290e+05,1777,0,0,0,2021
8,6415,1670000,3,0,560,4,9830000,739455647,4.938940e+05,1914,0,0,0,2021
9,6402,1390000,2,50,742,2,6430000,658646656,6.847420e+05,1370,3,0,0,2021
10,6395,2440000,3,33,2077,10,11500000,1842921163,1.886965e+06,1362,0,0,0,2021
11,5757,1180000,1,0,492,1,6270000,261126728,1.379950e+05,1587,0,0,0,2021
12,5501,7730000,6,100,2951,6,83150000,15068185166,5.084949e+06,3752,0,1,2740000,2016
13,5474,579000,2,100,111,0,12300000,64584418,1.509060e+05,693,0,0,0,0
14,5431,1990000,7,57,1428,1,39930000,2677822095,9.753040e+05,1444,3,0,0,2021
15,5230,1340000,2,50,376,3,3450000,264173622,3.819300e+05,792,0,0,0,2022
16,5068,3010000,1,100,556,1,28560000,1363851891,1.599444e+06,1664,0,0,0,2020
17,4963,1820000,2,50,818,3,7620000,800850967,3.098250e+05,2111,0,0,0,2020
18,4862,1090000,1,0,101,0,9000000,102665152,2.575900e+04,1248,0,0,0,2022
19,4858,2170000,2,50,1624,2,13700000,1780855499,6.848200e+05,2433,0,1,176000,2019
20,4844,1270000,2,100,222,0,4780000,262413513,2.031400e+04,2583,0,1,40900,2021
21,4808,1600000,5,100,1146,6,8700000,861443742,1.123034e+06,1944,3,1,275000,2021
22,4561,1600000,1,100,431,0,1450000,163304273,8.201700e+04,2497,4,0,0,2021
23,4455,2110000,1,0,131,0,15150000,448741956,6.949100e+04,3448,0,1,1280000,2020
24,4140,1960000,45,64,1369,4,11870000,1921908696,1.153547e+06,2065,0,1,616000,2019
25,3959,1090000,1,0,235,2,4100000,192577644,1.924970e+05,635,0,0,0,2022
26,3425,1900000,1,100,536,2,11420000,865862273,4.957380e+05,2924,0,1,458000,2019
27,2543,1380000,1,0,357,1,18710000,386872451,1.759590e+05,2287,0,0,0,2020
28,2078,964000,1,0,917,2,3470000,343249124,1.601100e+04,2286,0,0,0,2020
29,1334,383000,1,0,157,0,5680000,44803361,2.050500e+04,918,3,0,0,0

In [45]:
columns = ["register_num","human_num","gender_rate","douga_num","frequency","saisei_max","saisei_sum","saisei_1m_ave","period","area","sub","register_sub","hyaku_achievedate"]

In [50]:
from sklearn.linear_model import LinearRegression

X = df[["pop_score"]]
y = df.drop(["pop_score",i], axis=1)

model = LinearRegression() 
model.fit(X,y)

print(model.score(X, y))

0.18031851326689596